@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html,
body {
  margin: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

.v-card__text {
  font-size: 20px !important;
}

.header-display {
  font-size: 50px;
}
